{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('pm_home') }}">Home</a>
        </li>
        <li class="breadcrumb-item active">Profile</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">Profile</div>
        <div class="card-body">
            <table class="table table-bordered mb-0">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>
                            {{ user.name }}
                            <a href="{{ path('pm_profile_name') }}" class="btn btn-link success">
                                <i class="icon-pencil"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>ID</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>Created</th>
                        <td>{{ user.createdAt|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    {% if user.email %}
                        <tr>
                            <th>Email</th>
                            <td>
                                {{ user.email }}
                                <a href="{{ path('pm_profile_email') }}" class="btn btn-link success">
                                    <i class="icon-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Roles</th>
                        <td>
                            <ul>
                                {% for role in user.roles %}
                                    <li>{{ role }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{ user_status(user) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% if user.networks %}
        <div class="card">
            <div class="card-header">Networks</div>
            <div class="card-body">
                <table class="table table-bordered mb-0">
                    <tbody>
                    {% for network in user.networks %}
                        <tr>
                            <th>{{ network.network }}</th>
                            <td>{{ network.identity }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
