{% extends 'outer.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-4">

                    {{ form_start(registrationForm, {'attr': {'class': 'card-body p-4'}}) }}
                    <h1>Register</h1>

                    <p class="text-muted">Create your account</p>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>
                        {{ form_widget(registrationForm.firstName, {'attr': {
                            'class': 'form-control',
                            'placeholder': 'First Name'
                        }}) }}
                        {{ form_errors(registrationForm.firstName) }}
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>
                        {{ form_widget(registrationForm.lastName, {'attr': {
                            'class': 'form-control',
                            'placeholder': 'Last Name'
                        }}) }}
                        {{ form_errors(registrationForm.lastName) }}
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>
                        {{ form_widget(registrationForm.email, {'attr': {
                            'class': 'form-control',
                            'placeholder': 'Email'
                        }}) }}
                        {{ form_errors(registrationForm.email) }}
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="icon-lock"></i>
                            </span>
                        </div>
                        {{ form_widget(registrationForm.plainPassword, {'attr': {
                            'class': 'form-control',
                            'placeholder': 'Password'
                        }}) }}
                        {{ form_errors(registrationForm.plainPassword) }}
                    </div>

                    <div class="input-group mb-3">
                        {{ form_widget(registrationForm.agreeTerms) }}
                    </div>

                    <button class="btn btn-block btn-success" type="submit">Create Account</button>
                    {{ form_end(registrationForm) }}

                    <div class="card-footer p-4">
                        <div class="row">
                            <div class="col-12">
                                <a href="{{ path('pm_facebook_connect') }}" class="btn btn-block btn-facebook">
                                    <span>facebook</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#{{ form_start(registrationForm) }}#}
    {#{{ form_widget(registrationForm) }}#}
    {#{{ form_end(registrationForm) }}#}

    {#{{ form_start(registrationForm) }}#}
    {#{{ form_row(registrationForm.email) }}#}
    {#{{ form_row(registrationForm.plainPassword) }}#}
    {#{{ form_row(registrationForm.agreeTerms) }}#}

    {#<button class="btn btn-primary">Register</button>#}
    {#{{ form_end(registrationForm) }}#}
{% endblock %}
