{% extends 'base.html.twig' %}

{% block title %}Roles{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('pm_home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('pm_work_projects') }}">Projects</a></li>
        <li class="breadcrumb-item active">Roles</li>
    </ol>
{% endblock %}

{% block body %}

    {{ include('works/projects/_tabs.html.twig') }}

    <div class="controls">
        <a href="{{ path('pm_work_project_create') }}" class="btn btn-success btn-sm">
            Add Role
        </a>
    </div>

    <div class="box">
        <div style="overflow: auto">
            <table class="table table-bordered table-hover mb-0">
                <thead>
                <tr>
                    <th></th>
                    {% for role in roles %}
                        <th style="text-align: center">
                            {{ role.name }}
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for permission in permissions %}
                    <tr>
                        <td>{{ permission|trans({}, 'work_permissions') }}</td>
                        {% for role in roles %}
                            <td style="text-align: center">
                                {% if permission in role.permissions %}
                                    <span class="fa fa-check"></span>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}