{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('pm_home') }}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('pm_users') }}">Users</a>
        </li>
        <li class="breadcrumb-item active">Profile</li>
    </ol>
{% endblock %}

{% block body %}

    {% set id = user.id %}



    <div class="controls">

        {% if user.id != app.user.id %}

            <a href="{{ path('pm_user_edit', {'id' : id}) }}" class="btn btn-success btn-sm">
                Edit User
            </a>

            <a href="{{ path('pm_user_roles', {'id' : id}) }}" class="btn btn-primary btn-sm">
                Change Roles
            </a>

            {% if user.wait %}
                <form action="{{ path('pm_user_confirm', {'id': id}) }}" method="post">
                    <input type="hidden" name="_token" value="{{ csrf_token('confirm') }}">
                    <button type="submit" class="btn btn-info btn-sm">Confirm</button>
                </form>
            {% else %}
                {% if user.active %}
                    <form action="{{ path('pm_user_lock', {'id': id}) }}" method="post">
                        <input type="hidden" name="_token" value="{{ csrf_token('lock') }}">
                        <button type="submit" class="btn btn-danger btn-sm">Lock</button>
                    </form>
                {% endif %}

                {% if user.lock %}
                    <form action="{{ path('pm_user_unlock', {'id': id}) }}" method="post">
                        <input type="hidden" name="_token" value="{{ csrf_token('unlock') }}">
                        <button type="submit" class="btn btn-warning btn-sm">Unlock</button>
                    </form>
                {% endif %}


            {% endif %}

        {% endif %}

        {% if is_granted('ROLE_WORK_MANAGE_MEMBERS') %}
            {% if member %}
                <a href="{{ path('pm_work_member', {id: member.id}) }}" class="btn btn-primary btn-sm">
                    View Member
                </a>
            {% else %}
                <a href="{{ path('pm_work_member_create', {user_id: user.id}) }}" class="btn btn-primary btn-sm">
                    Create Member
                </a>
            {% endif %}
        {% endif %}
    </div>

    <div class="box">
        <table class="table table-bordered mb-0">
            <tbody>
            <tr>
                <th>Name</th>
                <td>
                    {{ user.name }}
                </td>
            </tr>
            <tr>
                <th>ID</th>
                <td>{{ id }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ user.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            {% if user.email %}
                <tr>
                    <th>Email</th>
                    <td>
                        {{ user.email }}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th>Roles</th>
                <td>

                    {{ user_roles(user) }}

                    {#<ul>#}
                    {#{% for role in user.roles %}#}
                    {#<li>{{ role }}</li>#}
                    {#{% endfor %}#}
                    {#</ul>#}
                </td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ user_status(user) }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    {% if user.networks %}
        <div class="card">
            <table class="table table-bordered mb-0">
                <tbody>
                {% for network in user.networks %}
                    <tr>
                        <th>{{ network.network }}</th>
                        <td>{{ network.identity }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
    </script>
{% endblock %}